h3, h2, h1 {
  background-image: linear-gradient(to bottom, red, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
 p, a {
  color: white;
  font-weight: 1000;
}

img {
  margin: 10px auto;
  height: 180px;
  width: 220px;
  transition-duration: 0.5s;
  border-radius: 20%;
  border: 2px solid red;
}
img:hover {
  height: 175px;
  width: 215px;
  border: 3px solid red;
}

.imagens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
