

<html>
<header class="menu">
  <div class="logo">
    <h1>
      <b class="title">MovieNow</b>
      <img src="https://img.icons8.com/cotton/64/000000/cinema-.png"/></h1>
  </div>

  <ul type="none" class="lista-menu">
    <li><a routerLink="">Sobre nós</a></li>
    <li><a routerLink="filmes">Filmes</a></li>
    <li><a routerLink="informacoes">Informações</a></li>
  </ul>
</header>

<br>
<div class="body">
  <app-body-global></app-body-global>
</div>

<footer class="footer" style="text-align: center;">
  <p> MovieNow &copy;</p>
</footer>

</html>
